@import url('https://fonts.googleapis.com/css?family=Heebo');

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
}

header {
  position: relative;
  display: block;
  background: linear-gradient(to bottom right, orange, #ff4500);
  font-style: Black;
  font-size: 42px;
  font-weight: bolder;
}

.welcome {
  color: white;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding-left: 5px;
  padding-right: 5px;
}

.topmenu {
  position: absolute;
  bottom: 0;
  right: 5%;
  font-size: 24px;
  vertical-align: middle;
}

.topmenu  li {
  padding: 5px;
  display: inline;
  background-color: lightblue;
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
}

.topmenu li:hover{
  background-color: red;
}

.test {
  background-color: red;
}
